button{
  cursor: pointer;
  width: 200px;
  height: 55px;
  border: 2px solid #FED324;
  background-color: #000000;
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  a {
    color: #FFF;
    text-decoration: none;
    width: 100%;
    height: 100%;
  }
  &:focus, &:active {
    outline: none;
  }
}