header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #262626;
  .header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 80px;
    .logo-link{
      width: 80px;
      height: 80px;
      img{
        width: 80px;
        height: 80px;
      }
    }
    .nav{
      width: 55vw;
      margin: 0 30px;
    }
    ul li a{
      height: 80px;
      color: #ffffff;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 500;
      padding: 0 10px;
      display: flex;
      align-items: center
    }
    .btn-log-ud{
      background-color: #000000;
    }
  }
}
.nav {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}