.sidebar-container {
  min-width: 270px;
  width: 300px;
  padding: 15px;
  min-height: calc(100vh - 130px);
  background-color: #000000;
  color: #ffffff; }
  .sidebar-container .skjult-menu {
    font-size: 10px;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    float: right;
    margin: 15px; }
    .sidebar-container .skjult-menu img {
      margin-left: 10px; }
  .sidebar-container .user-info {
    width: 100%;
    margin-top: 30px; }
    .sidebar-container .user-info img {
      width: 100px;
      margin-left: 85px; }
    .sidebar-container .user-info h2 {
      color: #ffffff;
      font-size: 20px;
      text-align: center; }
    .sidebar-container .user-info .follow {
      display: flex;
      margin-bottom: 20px;
      flex-direction: row;
      justify-content: space-around;
      color: #ffffff; }
      .sidebar-container .user-info .follow .follow-item {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column; }
      .sidebar-container .user-info .follow strong {
        font-size: 26px; }
  .sidebar-container .section {
    width: 100%;
    border-top: 1px solid #ffffff;
    margin-top: 15px; }
    .sidebar-container .section h3 {
      font-size: 18px;
      margin-left: 15px; }
    .sidebar-container .section .section-list {
      list-style-type: none;
      padding: 0; }
      .sidebar-container .section .section-list li {
        width: 100%;
        height: 80px;
        background-color: #262626;
        display: flex;
        align-items: center;
        margin-top: 5px;
        margin-bottom: 5px; }
      .sidebar-container .section .section-list .sectionActive {
        background-color: #1A1A1A; }
      .sidebar-container .section .section-list li a {
        font-size: 20px;
        font-weight: 400;
        text-decoration: none;
        color: #ffffff;
        margin-left: 28px; }
        .sidebar-container .section .section-list li a img {
          margin-right: 20px; }
  .sidebar-container .ny {
    display: flex;
    flex-direction: row;
    align-items: center; }
    .sidebar-container .ny img {
      width: 35px;
      height: 35px;
      margin-right: 15px;
      margin-left: 28px; }
    .sidebar-container .ny p {
      font-weight: 300;
      text-transform: uppercase; }
